<html xmlns="http://www.w3.org/1999/xhtml"  >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/docs.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/box.css" />
		<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script> 
		<style type="text/css">
  				
        </style>
  		<title>{{article.title}}</title>
	</head>
	<body>
		
			<div id= "header">
				<div class="navbar navbar-fixed-top navbar-inverse">
				  <div class="navbar-inner">
				    <a class="brand" href="#"> 悦读工具</a>
				    <ul class="nav">
				      <li class="active"><a href="/">首页</a></li>
				       <li class="dropdown" id="menutest1">
												<a class="dropdown-toggle" data-toggle="dropdown" href="#menutest1">
											      分类过滤
											      <b class="caret"></b>
											    </a>
											    <ul class="dropdown-menu">
											    	{% for i in classes %}
											      <li><a href="/index/{{i.classid}}/1">{{i.classname}}</a></li>
													{% endfor %}
											    </ul>

										  </li>
				      <li><a href="#">链接</a></li>
				    </ul>
				   <form class="navbar-form pull-right">
					  <input type="text" class="span2">
					  <button type="submit" class="btn">Submit</button>
					</form>
				  </div>
				</div>
			</div>
			<div class="container-fluid">
			  <div class="row-fluid">
			    <div class="span8">
			      <!-- content-->

			      <div class="well well-large">
			      		<h2>{{article.title}}</h2>
			      		<table class="table">
						  <tbody>
						    <tr>
						      <td style="font-size:12px">发布时间:{{article.posttime}}</td>										
						    </tr>
						     <tr>
						      <td></td>						
						    </tr>
						  </tbody>

					   </table>
					   <p class="BSHARE_TEXT">
					  		{{article.content}}
					   </p>
					   <div id="sns">
					   				<div class="bshare-custom"><div class="bsPromo bsPromo2"></div><a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);">豆瓣</a><a title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到Facebook" class="bshare-facebook" href="javascript:void(0);">Facebook</a><a title="分享到Twitter" class="bshare-twitter" href="javascript:void(0);">Twitter</a><a title="分享到Google+" class="bshare-gplus" href="javascript:void(0);">Google+</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span style="float: none;" class="BSHARE_COUNT bshare-share-count">13K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
					   				<script type="text/javascript" charset="utf-8">
									bShare.addEntry({
									    title: "来自臭氧盒子的精彩技术文章",									
									    summary: "臭氧盒子，孙如镇的技术BLOG，记录学习与实践中的点点滴滴",
									    
									});
									</script> 

					   	</div>
					</div>
			    </div>
			    <!--sidebar-->
			    <div class="span4  well">

			       <div id="comments">
			       	<div class="hero-unit">
					  <h1>欢迎评论</h1>
					  <p>欢迎留下您的宝贵意见</p>
					  <p>
					    <a class="btn btn-primary btn-large" data-toggle="modal" href="#comment-Modal">
					      发表评论
					    </a> 
					    <form method="post" class="modal hide fade well" id="comment-Modal" style="display:none">
							   
								  <div class="modal-header">
								    <a class="close" data-dismiss="modal">×</a>
								    <h3>您正在评论</h3>
								  </div>								 
								  <div class="modal-body ">								    
									  	  <table class="table ">								
											  <tbody>											  
												    <tr><td> <input name="comment_username" type="text" class="span6" placeholder="请留下您的姓名"></td> </tr>
												    <tr><td> <input name="comment_email" type="text" class="span6" placeholder="请留下您的e-mail"></td> </tr>
												    <tr><td>  <textarea name="comment_content" class="input-xlarge span12" rows="10" name="content" ></textarea>									  					</td> </tr> 
											  </tbody> 
											</table>
						  			</div>
								  <div class="modal-footer">
								    <a href="#" class="btn" data-dismiss="modal">关闭</a>
								   <button type="submit" class="btn btn-primary">提交评论</button>
								  </div>								
						</form>	
					  </p>
					</div>
					<div class="alert alert-info">
 						 <strong>当前评论：</strong>
					</div>

			       	<ul class="unstyled">
			       		{% for i in comments%}
			       		<li>
			       			<div class="alert alert-success">
							  <strong>{{i.username}}:</strong>{{i.content}}
							</div>
			       		</li>
			       		{% endfor %}
			       		
			       	</ul>	
			       </div>
			       

			    </div>
			  </div>
			</div>
			<div class="span12">
			<div class="span6">
				<p>本站采用web.py编写，运行于SAE云公共主机上</p>
				<img src="/static/img/sae.png">
			</div>
			<div>
				<p>友情链接：<a style="margin-left:3px" href="http://sae.sina.com.cn">新浪SAE</a><a  style="margin-left:3px"  href="http://www.cauc.edu.cn">中国民航大学</a></p>
				<p>版权所有 © 2013-2014 ---臭氧盒子 </p>
			</div>
			
		</div>	
   		<script src="http://s22.cnzz.com/stat.php?id=5002219&web_id=5002219&show=pic1" language="JavaScript"></script>
	</body>
	<script src="/static/assets/js/jquery.js"></script>
	<script src="/static/assets/bootstrap-transition.js"></script> 		
	<script src="/static/assets/js/bootstrap-modal.js"></script> 
	<script src="/static/assets/js/bootstrap-dropdown.js"></script>
</html>


