<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wb=“http://open.weibo.com/wb”>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../static/assets/css/docs.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/box.css" />
		<script type="text/javascript" src="../static/assets/js/bootstrap.js"></script> 
		<script type="text/javascript" src="../static/ckeditor/ckeditor.js"></script>
  		<title>出错了</title>
	</head>

	<body >	
		<div class="hero-unit sapn4">
		  <h1>Oh，服务器开小差了！</h1>
		  <p>Error 500</p>
		  <p>
		    <a href="/" class="btn btn-primary btn-large">
		      返回首页
		    </a>
		  </p>
		</div>
	</body>

</html>
