<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wb=“http://open.weibo.com/wb”>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../static/assets/css/docs.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/box.css" />
		<script type="text/javascript" src="../static/assets/js/bootstrap.js"></script> 
		<script type="text/javascript" src="../static/ckeditor/ckeditor.js"></script>
 		<script>
              window.onload = function()
			    {
			        CKEDITOR.replace( 'content' );
			    };
        </script>
		<style type="text/css">
  				
        </style>
  		<title>编辑、添加文章</title>
	</head>

	<body >	
		<div class="span8">
		<form class="form-horizontal" method="post">
		  <fieldset>
		    <legend>添加文章</legend>
		    <div class="control-group">
		     
		      <div class="controls">
		        <input type="text" class="input-xlarge" name="title" value="{{article.title}}">		     
		      </div>
		    </div>
		   <div class="control-group">
            
            <div class="controls">
              <textarea class="input-xlarge" row="15" name="content" r>
					{{article.content}}
              </textarea>
              
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">保存更改</button>
            <button class="btn">取消</button>
          </div>
		  </fieldset>
		</form>
	</div>
	</body>

</html>