<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wb=“http://open.weibo.com/wb”>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/docs.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/box.css" />
		<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script> 
		<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
  		<title>登陆管理页面</title>
	</head>

	<body >	
		<form class="well form-inline " method="post">
		  <input name="username" type="text" class="input-big" placeholder="账号">
		  <input name="password" type="password" class="input-big" placeholder="密码">
		  <label class="checkbox">
		    <input type="checkbox"> 记住我
		  </label>
		  <button type="submit" class="btn">登录</button>
		</form>
		<div class="span12">
			<div class="span6">
				<p>本站采用web.py编写，运行于SAE云公共主机上</p>
				<img src="/static/img/sae.png">
			</div>
			<div>
				<p>友情链接：<a style="margin-left:3px" href="http://sae.sina.com.cn">新浪SAE</a><a  style="margin-left:3px"  href="http://www.cauc.edu.cn">中国民航大学</a></p>
				<p>版权所有 © 2013-2014 ---臭氧盒子 </p>
			</div>
			
		</div>	
	</body>

</html>